---
---

@import 'fonts';

body {
  display: block;
  margin: 0;
  background: $BACKGROUND;
}

.navbar {
  padding: $MENU-SPACING;
  background-color: $MENU-BACKGROUND-COLOR;

  .navbar-container + .navbar-container {
    margin-top: $MENU-SPACING;
  }

  .navbar-item {
    display: block;
    text-align: center;
  }
}
