<title>{{ site.title }}</title>

<meta name="description" content="{{ site.title }}">
<meta name="keywords" content="art, arte, lab, labs, laboratório, tecnologia, technology">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' data: www.google-analytics.com; media-src 'self'; frame-src player.vimeo.com www.youtube.com gallery.autodesk.com; frame-ancestors 'self'; script-src 'self' ajax.googleapis.com www.google-analytics.com; font-src 'self' data: maxcdn.bootstrapcdn.com fonts.googleapis.com fonts.gstatic.com; style-src 'self' 'unsafe-inline' maxcdn.bootstrapcdn.com fonts.googleapis.com; base-uri 'self'; form-action 'self';">

<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicons/favicon.ico">

{% if page.url == "/404.html" %}
  <meta http-equiv="refresh" content="0; url=/">
{% endif %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.social.twitter_user }}">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.title }}">
<meta name="twitter:creator" content="{{ site.social.twitter_user }}">

<meta property="og:title" content="{{ site.title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:description" content="{{ site.title }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="article:publisher" content="{{ site.social.facebook_url }}">

{% assign coverImagePath = site.url | append: site.cover %}
<meta name="twitter:image" content="{{ coverImagePath }}">
<meta property="og:image" content="{{ coverImagePath }}">
