<div id="navbar" class="nav-container">
  <div class="title-container">
    <a id="nav-home" href="/">
      <div class="nav-item">{{ site.subtitle }}</div>
    </a>
  </div>
  <div class="pages-container">
    <a id="nav-atibaia" href="http://atibaia.alab.space/">
      <div class="nav-item">ATIBAIA-FESTIVAL 2017</div>
    </a>
    <a id="nav-atibaia" href="http://2016.atibaia.alab.space/">
      <div class="nav-item">ATIBAIA-FESTIVAL 2016</div>
    </a>
    <a id="nav-fact" href="http://fact.alab.space/">
      <div class="nav-item">FACT-LAB</div>
    </a>
  </div>
</div>
