$BACKGROUND: #999;

$MENU-BACKGROUND-COLOR: #222;
$MENU-ITEM-COLOR: #fff;
$MENU-ITEM-HOVER-COLOR: darken($MENU-ITEM-COLOR, 40%);

$FAMILY-SANS: 'Raleway', 'Arial';

$MENU-TITLE-SIZE: 1.4rem;
$MENU-LINK-SIZE: 1rem;

$MENU-SPACING: 20px;

$TRANSITION-PERIOD: 0.2s;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
  @media only screen and (min-width: 900px) {
    font-size: 16px;
  }
}

.navbar {
  .navbar-item {
    font: 700 $MENU-LINK-SIZE $FAMILY-SANS;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $MENU-ITEM-COLOR;
    transition: color $TRANSITION-PERIOD linear;

    &:visited {
      color: $MENU-ITEM-COLOR;
    }

    &:hover {
      color: $MENU-ITEM-HOVER-COLOR;
    }
  }

  .navbar-title {
    font-size: $MENU-TITLE-SIZE;
  }
}
