$MENU-ITEM-COLOR: #444;
$MENU-ITEM-HOVER-COLOR: #fff;

$FAMILY-SANS: 'Raleway', 'Arial';

$MENU-TITLE-SIZE: 1.4rem;
$MENU-LINK-SIZE: 1rem;

$TRANSITION-PERIOD: 0.15s;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

.navbar {
  .navbar-item {
    font: 700 $MENU-LINK-SIZE $FAMILY-SANS;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $MENU-ITEM-COLOR;
    transition: color $TRANSITION-PERIOD linear;

    &:visited {
      color: $MENU-ITEM-COLOR;
    }

    &:hover {
      color: $MENU-ITEM-HOVER-COLOR;
    }
  }

  .navbar-title {
    font-size: $MENU-TITLE-SIZE;
  }
}
